.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}
a {
  color: #61dafb;
}
.side-bar {
  position: fixed;
  background-color: darkslategrey;
  width: 200px;
  height: 100%;
}
.center 
{
  display: inline-block;
 
}
.airmen {
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 10px;
}